<!DOCTYPE html>
<html lang="de">
<head>
    <title>Passwortgrab: Details von Passwort</title>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../passwortgrab_stil.css">  
</head>
<body>

    <h1>
        Passwort: 
        "<span th:text="${passwortObjekt.titel}"></span>"
    </h1>

    <table>
        <tr>
            <td class="fett">Nutzername: </td>
            <td>
                <input id="id-nutzername" class="schrift_monospace" type="text" th:value="${passwortObjekt.getNutzernamePasswort().getNutzername()}">
                &nbsp;
                <button id="id-nutzername-zu-passwort">In Zwischenablage kopieren</button>
            </td>
        </tr>
        <tr>
            <td class="fett">Passwort: </td>
            <td>
                <input id="id-passwort" class="schrift_monospace" type="password" th:value="${passwortObjekt.getNutzernamePasswort().getPasswort()}">
                &nbsp;
                <button id="id-toggleButton">Sichtbarkeit umschalten</button>
                &nbsp;
                <button id="id-passwort-zu-clipboard">In Zwischenablage kopieren</button>
            </td>
        </tr>
        <tr>
            <td class="fett">Gültig bis: </td>
            <td>
                <span th:text="${#temporals.format(passwortObjekt.getGueltigBis(), 'dd. MMMM yyyy (EE), HH:mm')} + ' Uhr'"></span>
                <span th:if="${passwortObjekt.istAbgelaufen()}" class="fett"> – Passwort ist abgelaufen!</span>
            </td>
        </tr>
        <tr>
            <td class="fett">Kommentar: </td>
            <td><span th:text="${passwortObjekt.kommentar}"></span></td>
        </tr>
    </table>
    <br><br>    

    <a href="/app/passwort-liste">Zurück zur Liste</a>

    <script src="/passwortgrab.js"></script>

</body>